@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');/*Font*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(225, 151, 167);
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    position: relative;
}

header{/*Menu*/
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:5%;
    margin-right: 5%;
}

.menu ul li{
    display: inline-block;
    margin: 20px;
    font-size: 25px;
    text-decoration: none;
}

a{
    text-decoration:double;
    color: rgb(240, 236, 17);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    
}

a:hover{
    color:rgba(41, 171, 252, 0.897) ;
    transition:.2s all;
}

#traducao{
    display:flex;
    margin: 20px;
}

#traducao .botao-en{
    margin-right: 5% ;
}
img{/*Logo*/
    margin-left:20%;
    margin-top: 5%;
}

.ancora{ /*Ancora*/
    width: 50px;
    height: 50px;
    margin-bottom: 0;
    margin-left: 30%;
}

footer{ /*Rodapé*/
    position: absolute;
    display:inline-flex;
    left: 0;
    bottom:0;
    margin-bottom: 0;
    background-color:rgba(41, 171, 252, 0.897) ;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    opacity:60%;
}

footer .footer-bottom{
    margin-left: 40%;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content:center;
}
/*Configurações home*/

.circle{ /*Circulo amarelo*/
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:rgb(240, 236, 17) ;
    opacity: 80%;
    clip-path: circle(49% at bottom right);
}

.container{ /*Texto*/
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 100%;
    display: flex;
    margin-top:2% ;
    align-items: center;
    justify-content: space-between;
}

.container .text{
    margin-left:10%;
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.container .text h2{
    font-size: 3,5em;
    color:rgb(240, 236, 17) ;
}

.container .text span{
    font-size: 4em;
    color:rgba(41, 171, 252, 0.897) ;
}

.container .text p{
    color: rgb(0, 0, 0);
    text-align: justify;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.container .text a{ /*Botão*/
    display: inline-block;
    margin-top: 30px;
    padding: 15px 10px;
    background-color:rgba(41, 171, 252, 0.897) ;
    color: white;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0,3s ease-in-out;
}

.container .text a:hover{
    transform: translate(-10px);
}

.boxImg{ /*Imagens encima do circulo*/
    position: absolute;
    display:inline-flex;
    margin-left:64%;
}

.boxImg .img3{
    width: 400px;
    margin-top:-60% ;
    transform: rotate(-16deg);
}

/*Página sobre*/

.circle-sobre{ /*Circulo amarelo*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:rgb(240, 236, 17) ;
    opacity: 80%;
    clip-path: circle(32% at bottom right);
}

section{  /*Texto hisória*/
    position: relative;
    justify-content: center;
    width:60%;
    height: 50%;
    margin-top: 2%;
    margin-left: 15%;
    font-family:'Montserrat', sans-serif ;
}

section h2{
    color:rgb(240, 236, 17) ;
    font-size:4em;
}

section strong{
    color:rgba(41, 171, 252, 0.897) ;
}

section p{
    font-family:'Montserrat', sans-serif ;
    text-align: justify;
    margin-top: 3%;
    font-size:20px;
    padding: 2px;
    font-weight: 500;
}

section b{
    color:rgb(240, 236, 17) ;
}

.img6{ /*Imagem chiclete espanhol*/
    margin-top: 2%;
    margin-right: 50%;
}

.bubbaloo-banana { /*Imagem bubbaloo banana*/
    display: inline-flex;
    margin-left: 15%;
    margin-bottom: 2%;
}

.bubbaloo-banana .img4{
    transform: rotate(-20deg);
}

article .img8{ /* Logo Mondelez*/
    margin-left: 5%;
}

/*Pagina Produtos*/

.produtos{ /*main*/
    display:inline-block;
}

.produtos h2{  /*titulo*/
    text-align: center;
    color:rgb(240, 236, 17) ;
    font-size: 35px;
    margin-bottom: 2%;
}

.container-produtos{ /*section1*/
    display:inline-flex;
}

.bubbaloo1{ /*bubbaloo de tutti-frutti*/
    margin-left: 50px;
    border-radius: 5%;
    background-color:rgb(240, 236, 17) ;
    width:600px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bubbaloo1 h3{
    color:rgba(41, 171, 252, 0.897)  ;
    font-size:22px;
}

.bubbaloo1 .img1{
    border-radius: 5%;
    margin-left: 2%;
    background-color:rgba(41, 171, 252, 0.897)   ;
}

.bubbaloo1 p{
    text-align:justify;
    font-size:15px;
}

.bubbaloo1 a{
    background-color:rgba(41, 171, 252, 0.897)   ;
    color:black;
    display: inline-block;
    margin-top: 30px;
    padding: 15px 10px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0,3s ease-in-out;
}

.bubbaloo2{ /*bubbaloo de morango*/
    margin-left:50px;
    border-radius: 5%;
    background-color:rgba(41, 171, 252, 0.897)    ;
    width:600px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bubbaloo2 h3{
    color:rgb(240, 236, 17) ;
    font-size:22px;
}

.bubbaloo2 .img2{
    border-radius: 5%;
    margin-left: 2%;
    background-color:rgb(240, 236, 17) ;
}

.bubbaloo2 p{
    text-align: justify;
    font-size:15px;
}

.bubbaloo2 strong{
    color:rgb(240, 236, 17);
}

.bubbaloo2 a{
    background-color:rgb(240, 236, 17) ;
    color:black;
    display: inline-block;
    margin-top: 30px;
    padding: 15px 10px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0,3s ease-in-out;
}

.container-produtos2{ /*section2*/
    display:inline-flex;
}

.bubbaloo3{ /*bubbaloo de hortelã*/
    margin-left: 50px;
    border-radius: 5%;
    background-color:rgb(240, 236, 17) ;
    width:600px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bubbaloo3 h3{
    color:rgba(41, 171, 252, 0.897)  ;
    font-size:22px;
}

.bubbaloo3 .img3{
    border-radius: 5%;
    margin-left: 2%;
    background-color:rgba(41, 171, 252, 0.897)   ;
}

.bubbaloo3 p{
    font-size:15px;
}

.bubbaloo3 a{
    background-color:rgba(41, 171, 252, 0.897)   ;
    color:black;
    display: inline-block;
    margin-top: 30px;
    padding: 15px 10px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0,3s ease-in-out;
}

.bubbaloo4{ /*bubbaloo4*/
    margin-left:50px;
    border-radius: 5%;
    background-color:rgba(41, 171, 252, 0.897)    ;
    width:600px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bubbaloo4 h3{
    color:rgb(240, 236, 17) ;
    font-size:22px;
}

.bubbaloo4 .img4{
    border-radius: 5%;
    margin-left: 2%;
    background-color:rgb(240, 236, 17) ;
}

.bubbaloo4 p{
    font-size:15px;
}

.bubbaloo4 strong{
    color:rgb(240, 236, 17);
}

.bubbaloo4 a{
    background-color:rgb(240, 236, 17) ;
    color:black;
    display: inline-block;
    margin-top: 30px;
    padding: 15px 10px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0,3s ease-in-out;
}


/*Pagina Contato*/

.circle-blue{ /*Circulo azul*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:rgba(41, 171, 252, 0.897)  ;
    opacity: 80%;
    clip-path: circle(39% at bottom left);
}

.container-contato{ /*Configurações formulário*/
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.container-contato h2{
    font-size: 50px;
    line-height: 40px;
}

.container-contato span{
    color:rgb(240, 236, 17) ;
}

.contato{
    flex-direction: row;
    margin-top: 30px;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

form [type="submit"]{
    display: flex;
    flex-direction: row;
    height: 50px;
    width:5em;
    background-color:rgba(41, 171, 252, 0.897) ;
    color:white;
    font-weight: bold;
}

form [type="submit"]:hover{
    height: 50px;
    width:5em;
    background-color: rgba(41, 171, 252, 0.897)  ;
    color:white;
    font-weight: bold;
}

form [type="reset"]{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 50%;
    background-color:rgba(41, 171, 252, 0.897) ;
    color:white;
    font-weight: bold;
}

form [type="reset"]:hover{
    height: 50px;
    width: 50%;
    background-color:rgba(41, 171, 252, 0.897)  ;
    color:white;
    font-weight: bold;
}

input{
    margin-top: 20px;
    height: 30px;
    padding: 15px;
    width: 560px;
    border-radius: 20px;
    border:none;
    font-size: 15px;
}

textarea{
    resize: none;
    margin-top: 20px;
    height: 100px;
    padding: 5px;
    border-radius: 20px;
    border:none;
    font-size: 15px;
}

/*Responsiidade*/

@media screen and (min-width:1600px) and (max-width:2000px){ /*Pc Etec 2023 1600x900*/

    .boxImg .img3{
        width: 400px;
        margin-top:-50% ;
        transform: rotate(-16deg);
    }

}

@media screen and (min-width:820px) and (max-width:1180px){/*Ipad Air 820x1180*/


/*Menu*/

a:hover{
    color:rgba(41, 171, 252, 0.897) ;
    transition: 0.3s all;
}

    /*Pagina home*/
.circle{ /*Circulo amarelo*/
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:rgb(240, 236, 17) ;
    clip-path: circle(49% at bottom center);
    }

.boxImg{ /*Imagens encima do circulo*/
    position: absolute;
    display:inline-flex;
    justify-content: center;
    margin-top: 12%;
    margin-left:48%;
}

.boxImg .img3{
    width: 500px;
    position: absolute;
    justify-content: center;
    align-items: center;
}

/*Pagina Sobre*/

.circle-sobre{ /*Circulo amarelo*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:rgb(240, 236, 17) ;
    opacity: 80%;
    clip-path: circle(32% at center right);
}

.circle-responsivo{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:rgba(41, 171, 252, 0.897) ;
    opacity: 70%;
    clip-path: circle(32% at bottom right);
}

section{  /*Texto hisória*/
    position: relative;
    justify-content: center;
    width:50%;
    height: 50%;
    margin-top: 2%;
    margin-left:5%;
    font-family:'Montserrat', sans-serif ;
}

.img5{ /*Propaganda*/
    margin-left: 1%;
}

.img6{ /*Imagem chiclete espanhol*/
    margin-top: 2%;
    margin-left:1%;
}

.bubbaloo-banana { /*Imagem bubbaloo banana*/
    display: inline-flex;
    margin-left: -15%;
    margin-bottom: 2%;
}

.bubbaloo-banana .img4{  
    transform: rotate(-20deg);
}

.img1{ /*Imagem bubbaloo morango*/
    margin-left:1% ;
    width: 400px;
}

article .img8{ /* Logo Mondelez*/
    margin-left: 1%;
    width: 400px;
}

.ancora{ /*Ancora*/
    position: relative;
    margin-left: 80%;
}

/*Pagina Produtos*/

.produtos{ /*main*/
    display:block;
}

.produtos h2{  /*titulo*/
    text-align: center;
    margin-left: 2%;
    color:rgb(240, 236, 17) ;
    font-size: 35px;
    margin-bottom: 2%;
}

.container-produtos{ /*section1*/
    display:inline-block;
}

.bubbaloo1{ /*bubbaloo de tutti-frutti*/
    margin-top: 5%;
    margin-left: 50px;
    border-radius: 5%;
    background-color:rgb(240, 236, 17) ;
    width:600px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bubbaloo1 .img1{
    border-radius: 5%;
    max-width: 200px;
    margin-left: 2%;
    background-color:rgba(41, 171, 252, 0.897)   ;
}

.bubbaloo2{ /*bubbaloo de morango*/
    margin-top: 5%;
    margin-left:50px;
    border-radius: 5%;
    background-color:rgba(41, 171, 252, 0.897)    ;
    width:600px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-produtos2{ /*section2*/
    display:inline-block;
}

.bubbaloo3{ /*bubbaloo de hortelã*/
    margin-top: 5%;
    margin-left: 50px;
    border-radius: 5%;
    background-color:rgb(240, 236, 17) ;
    width:600px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bubbaloo4{ /*bubbaloo4*/
    margin-top: 5%;
    margin-left:50px;
    border-radius: 5%;
    background-color:rgba(41, 171, 252, 0.897)    ;
    width:600px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*Pagina Contato*/

.container-contato{
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 20%;
    padding: 15px;
}

input{
    margin-top: 20px;
    height: 60px;
    padding: 15px;
    width: 320px;
    border-radius: 20px;
    border:none;
    font-size: 15px;
}

textarea{
    resize: none;
    margin-top: 20px;
    width: 320px;
    height: 150px;
    padding: 15px;
    border-radius: 20px;
    border:none;
    font-size: 15px;
}

.circle-blue{ /*Circulo azul*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:rgba(41, 171, 252, 0.897)  ;
    opacity: 80%;
    clip-path: circle(39% at bottom left);
}

}